
body {
	font-family: 'Josefin Sans', sans-serif;
	color: #202030;
	background-color: #f8f8fc;
}

h1, h2 {
	
	color:darkorchid;
}



.resume-header {
    background-color: #2379c5;
}

.resume-main {
	background-color: #e1f0fd;
}

.resume-aside {
	background-color: #fffefc;
}



.biography-details li::before, .skill-list li::before {
	content: ">";
	font-weight: 800;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}

.biography-details li::before {
	color: #56D7F7;
}

.biography-details li, .skill-list li {
	padding-left: 1em;
	
	}
.language-progress {
    background-color:#B978FA;
}


.language-level {
    background-color:  #A1D1FC;
    border-color:  #A1D1FC;

}
.contact-icon {
	height: 1em;
	flex-basis: 1.4em;
}
