
body {
	font-family: Lato, "Open Sans", Roboto, "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #202030;
	background-color: #f8f8fc;
}



.resume-header {
    background-color: #2379c5;
}

.resume-main {
	background-color: #fffefc;
}

.resume-aside {
	background-color: #e1f0fd;
}



.biography-details li::before, .skill-list li::before {
	content: ">";
	font-weight: 800;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}

.biography-details li::before {
	color: #56D7F7;
}

.biography-details li, .skill-list li {
	padding-left: 1em;
}

.language-level {
    background-color:  #56D7F7;
    border-color:  #56D7F7;
}


.contact-icon {
	height: 1em;
	flex-basis: 1.4em;
}
